:root {
  // === Lavender ===

  --lavender-0: #f3f3ff;
  --lavender-1: #d9daff;
  --lavender-2: #c6c9ff;
  --lavender-3: #adb0ff;
  --lavender-4: #9da1ff;
  --lavender-5: #8489ff;
  --lavender-6: #787de8;
  --lavender-7: #5e61b5;
  --lavender-8: #494b8c;
  --lavender-9: #373a6b;

  // === Lavender gradient ===

  --lavender-gradient-1: linear-gradient(90.08deg, #8489ff52 1.87%, #8489ff00 100.97%);
  --lavender-gradient-2: linear-gradient(90.08deg, #8489ff52 1.87%, #8489ff 100.97%);
  --lavender-gradient-3: linear-gradient(118deg, #565888 0%, #333373 100%);

  // === Orange ===

  --orange-0: #ffefe9;
  --orange-1: #ffb799;
  --orange-2: #ff966a;
  --orange-3: #ff814d;
  --orange-4: #ff6221;
  --orange-5: #e8591e;
  --orange-6: #6b290e;

  // === Orange gradient ===

  --organge-gradient-0: linear-gradient(135deg, #ff8a47 0%, #fd1515 100%);
  --organge-gradient-1: linear-gradient(138.83deg, #c66548 6.86%, #ba3c3f 94.78%);
  --organge-gradient-2: linear-gradient(135deg, #5b3226 0%, #57252d 100%);

  // === Green ===

  --green-0: #e7f7ef;
  --green-1: #9dddbf;
  --green-2: #75cfa4;
  --green-3: #39ba7d;
  --green-4: #11ac62;
  --green-5: #0c7845;
  --green-6: #0a693c;

  // === Yellow ===

  --yellow-0: #fff9e6;
  --yellow-1: #ffe896;
  --yellow-2: #ffdf6b;
  --yellow-3: #ffd12b;
  --yellow-4: #ffc700;
  --yellow-5: #b38b00;
  --yellow-6: #9c7900;

  // === Red ===

  --red-0: #feebeb;
  --red-1: #faafaf;
  --red-2: #f98d8d;
  --red-3: #f65c5c;
  --red-4: #f43b3b;
  --red-5: #ab2929;
  --red-6: #952424;

  // === Surface dark ===

  --surface-dark-0: #121119;
  --surface-dark-1: #1b1a26;
  --surface-dark-2: #222231;
  --surface-dark-3: #2b2b3d;
  --surface-dark-4: #37374a;
  --surface-dark-5: #3c3e52;
  --surface-dark-6: #515167;
  --surface-dark-7: #6f6f88;
  --surface-dark-8: #b4b4c9;
  --surface-dark-9: #eaeaf8;
  --surface-dark-10: #fefeff;

  // === Surface light ===

  --surface-light-0: #fff;
  --surface-light-1: #fefeff;
  --surface-light-2: #f8f8f8;
  --surface-light-3: #f4ede6;
  --surface-light-4: #e5e5e5;
  --surface-light-5: #d4d1cd;
  --surface-light-6: #d4d1cd;
  --surface-light-7: #474752;
  --surface-light-8: #2b2b3d;
  --surface-light-9: #222231;
  --surface-light-10: #121119;
}
