@use 'sass:math';
@use 'variables' as v;

@mixin scrollbar() {
  // Firefox
  scrollbar-width: thin;

  // Chrome Edge Safari
  &::-webkit-scrollbar {
    width: v.$scrollbar-width;
    height: v.$scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-bg, v.$surface-7);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color, v.$surface-2);
    border-radius: v.$scrollbar-width;
    border: 0;
  }
}

@mixin remove-scrollbar() {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin hide-scrollbar($width: 5px, $padding-right: 0) {
  padding-right: $padding-right + $width;
  overflow-y: hidden;
  overflow-x: hidden;
}

@mixin show-scrollbar($padding-right: 0) {
  padding-right: $padding-right;
  overflow-y: scroll;
  @include scrollbar();

  // firefox scrollbar does not change width of the container
  @supports (scrollbar-width: thin) {
    padding-right: $padding-right + $scrollbar-width;
  }
}
