$base-font-family: var(--base-font-family);
$base-font-size: var(--base-font-size);
$base-font-weight: var(--base-font-weight);
$base-line-height: var(--base-line-height);

$font-size-xs: var(--font-size-xs); // 12
$font-size-sm: var(--font-size-sm); // 14
$font-size-md: var(--font-size-md); // 16
$font-size-lg: var(--font-size-lg); // 20
$font-size-xl: var(--font-size-xl); // 24
$font-size-xxl: var(--font-size-xxl); // 32
$font-size-xxxl: var(--font-size-xxxl); // 40

$font-weight-regular: var(--font-weight-regular);
$font-weight-semibold: var(--font-weight-semibold);
$font-weight-bold: var(--font-weight-bold);

$line-height-sm: var(--line-height-sm);
$line-height-md: var(--line-height-md);
$line-height-lg: var(--line-height-lg);
